{% extends 'base.html' %}

{% block title %}
    Posts
{% endblock %}

{% block contain %}
    <div class="container mt-2">
        <h1 class="text-center">Posts</h1>
        <div class="mt-5">
            <ul class="list-group">
                {% for post in posts %}
                     <li class="list-group-item mt-3" style="box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.1);">
                         <div class="media p-2">
                             <div class="media-body">
                                 <h5 class="mt-0">{{ post.title }}</h5>
                                 <p>{{ post.body }}</p>
                                 <small style="float: right">Author: {{ post.author.username }}</small>
                             </div>
                         </div>
                     </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}