<div class="container mt-5">
    <div class="row text-center m-3">
        <div class="col-12">
            <h2>Search History</h2>
        </div>
    </div>
    <div class="row" >
        <div class="col-3 p-2" style="border: 1px solid silver; border-right: 0;">
            <p>Apply filters: </p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Default checkbox
                </label>
            </div>
        </div>
        <div class="col-9 p-2" id="search-result-data" style="border: 1px solid silver; height: 600px; overflow: scroll">

        </div>
    </div>
</div>

